


/* FONTS*/

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

@import '../fonts/font-awesome-4.7.0/css/font-awesome.min.css';
@import '../fonts/themify-icons/themify-icons.css';
@import '../fonts/et-line-font/style.css';


html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-size: 13px;
    -webkit-tap-highlight-color: transparent;
    margin: 0;
    padding: 0;
}
body { 
    background-color: #fff;
    -webkit-font-smoothing: antialiased; 
    font-family: "Open Sans",sans-serif;
    /*font-family: 'Montserrat', sans-serif;*/
    font-size:14px; 
    color:#2d3438; 
    line-height:23px; 
    position: relative;
    overflow-x: hidden;
}

a, button {
    text-decoration: none;
    cursor: pointer;
}
a:focus, a:active {
    outline: none !important; 
}
a {
    color: inherit;
}
a:hover {
    color: #57bdec;
    outline: none !important;
    text-decoration: none;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.form-control::-webkit-input-placeholder {
    /*color: #e3ae57;*/
    opacity: 1;
}
.placeholder-fix:focus::-webkit-input-placeholder  {color:transparent !important; }
.placeholder-fix:focus::-moz-placeholder   {color:transparent !important;}
.placeholder-fix:-moz-placeholder   {color:transparent !important;}
::selection { color: #fff; background: #57bdec; }
::-moz-selection { color:#fff; background: #57bdec; }
textarea:focus,textArea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
    border-color: none;
    box-shadow: none !important;
    outline: 0 none;
    border-color: #000 !important;
}
button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
button:active,
button:focus {
    outline: none !important;
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Montserrat', sans-serif;
}
p {
    margin-bottom: 0;
    font-size: 15px;
    line-height: 26px;
}
iframe {
    display: block;
    max-width: 100%;
}

/*flex view*/
.flex-box-view-one {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
/*header*/
.tv-top-header {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}
.tv-middle-header {
    /*    border-bottom: 1px solid #ddd;*/
    padding: 35px 0;
}
.tv-top-socials ul li, .tv-author-social ul li {
    display: inline-block;
}
.tv-top-socials ul li a, .tv-author-social ul li a {
    border: 1px solid #e0e0e0;
    border-radius: 100%;
    display: inline-block;
    height: 35px;
    line-height: 20px;
    padding: 6px;
    text-align: center;
    vertical-align: middle;
    width: 35px;
}
.tv-search-btn {
    font-size: 18px;
}
/*navigation*/
.tv-sticky-header {
    position: relative;
    background: #fff;
}
.tv-sticky-header-active {
    backface-visibility: hidden;
    left: 0;
    position: fixed;
    right: 0;
    width: 100%;
    z-index: 5000;
    top: 0;
}
.tv-reset-navbar > li {
    padding-left: 10px;
    padding-right: 10px;
}
/*.tv-reset-navbar > li > a::after {
   
    margin-left: 2px;
    position: relative;
    text-transform: none;
}*/
.tv-dropdown-toggle::after {
    content: "";
    font-family: "FontAwesome";
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    display: inline-block;
    margin-left: 0.255em;
    width: 0;
}
.tv-reset-navbar > li > a {
    font-family: 'Montserrat', sans-serif;
    line-height: 40px;
    max-height: 52px;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    color: #616161;
    letter-spacing: 0.04rem
}
.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
    color: rgba(0, 0, 0, 0.85);
}
.navbar-nav .dropdown-menu li.active a {
    color: rgba(0, 0, 0, 0.85) !important;
    font-weight: 600;
}
.tv-new-item {
    background: #131d2e none repeat scroll 0 0;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    font-size: 9px;
    height: 17px;
    line-height: 17px;
    padding: 0 5px;
    position: absolute;
    right: -15px;
    top: 0;
}
.tv-sticky-header .dropdown-menu {
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.15);
    color: #505050;
    padding: 13px 0;
    position: absolute;
    /*top: 100%;*/
    top: 110%;
    transform: translate3d(0px, 0px, 0px);
    border: none;
    z-index: 1000;
    min-width: 16rem;
    border-radius: 4px;
}
.tv-sticky-header .dropdown-menu li a {
    line-height: 24px;
    padding-bottom: 2px;
    padding-top: 2px;
    text-transform: none;
    font-size: 13px;
    font-family: "Montserrat";
    padding-left: 24px;
    padding-right: 24px;
    display: block;
    font-weight: 500;
    color: #808080
}
.tv-sticky-header .dropdown-menu li a:hover {
    color: #131d2e;
}

/*heading section*/
.tv-section-padding {
    padding-top: 80px;
}
.tv-heading-section {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    margin-left: auto;
    margin-right: auto;
}
.tv-heading-title {
    flex: 0 1 auto;
    font-size: 100%;
    line-height: 1em;
    margin: 0;
    overflow-wrap: break-word;
    padding-right: 25px;
}
.tv-seperator-content {
    flex: 1 1 auto;
    height: 1px;
    min-width: 10%;
    position: relative;
}
.tv-seperator-line::before {
    background: #131d2e none repeat scroll 0 0;
    border-radius: 50%;
    content: "";
    display: inline-block;

    height: 15px;
    left: 0;
    position: absolute;
    top: -8px;
    width: 15px;
}
.tv-seperator-line {
    border-top: 1px solid #131d2e;
    display: block;
    height: 1px;
    position: relative;
    top: 1px;
    width: 100%;
}
.tv-heading-title h2 {
    /*color: #505050;*/
    font-family: "Montserrat";
    font-weight: 700;
    margin-bottom: 0;
}

/*common post*/
.post-thumnail {
    position: relative;
}
.post-thumnail-box {
    padding-bottom: 80%;
}
.post-image {
    background-position: 50% 50%;
    background-size: cover;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 12px;
}

/*blog*/
.author-blog {
    margin-top: 40px;
}
article.tv-post-item {
    margin-bottom: 50px;
}
.tv-post-section-right, .tv-post-section-left {
    align-items: center;
    display: flex;
    justify-content: center;
}
.post-extra-details .post-categories  {
    font-family: Montserrat;
    font-weight: 700;
    color: #131d2e;
}
.post-meta {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}
.post-extra-details .post-categories a {
    font-size: 11px;
    letter-spacing: 2px;
    text-transform: uppercase
}
.post-title h4, .post-title h2 {
    font-weight: bold;
}
.post-title h2 {
    font-weight: bold;
    line-height: 2.35rem;
    text-transform: uppercase;
}
.posts-date i, .comment-count i {
    color: #131d2e;
    margin-right: 10px;
}
.post-author {
    background: #131d2e;
    color: #fff;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 0 5px;
    text-transform: uppercase;
}
.post-author a:hover {
    color: #fff;
}
.tv-widget .tv-heading-title h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0;
}
.tv-post-overlay {
    align-items: center;
    background: rgba(0, 0, 0, 0) linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)) repeat scroll 0 0;
    border-radius: 8px;
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity 0.5s ease-in-out 0s;
}
.post-thumnail:hover .tv-post-overlay {
    opacity: 1;
}
.tv-post-overlay i {
    color: #fff;
    font-size: 24px;
    transition: 0.5s ease-in-out 0s;
}
.post-thumnail .tv-post-overlay i:hover {
    transform: scale(1.6,1.6);
}
.tv-footer-widget-style-one:not(:last-child) {
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.tv-footer-widget-style-one {
    position: relative;

    min-height: 100px;
}
.tv-footer-widget-style-one:not(:last-child) {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.tv-widget-posts-slider-thumbnail {
    height: 80px;
    width: 80px;
    background-position: 50% 50%;
    background-size: cover;
    display: block;
    left: 0;
    position: absolute;
    top: 0;
}
.tv-widget-post-extra-details {
    color: #fff;
    margin-left: 100px;
}
.tv-widget-post-extra-details .post-meta {
    color:#c7c7c7 
}
.tv-footer-widget-slider-item {
    position: relative;
}
.tv-footer-widget-slider-item .post-extra-details {
    bottom: 30px;
    left: 30px;
    position: absolute;
    right: 30px;
    z-index: 500;
}
.tv-footer-widget-slider-item .post-extra-details .post-title h5 {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    text-transform: uppercase;
}
.tv-footer-widget-slider-item .post-image:after {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(50, 50, 50, 0) 0px, rgba(16, 15, 15, 0.91) 89%, rgba(16, 15, 15, 0.93) 93%) repeat scroll 0 0;
    opacity: 0.95;
    top: 10%; 
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 11px;
}
.tv-widget-slider-arrows {
    padding-left: 10px;
}
.tv-widget-slider-arrows button {
    background: rgba(0, 0, 0, 0);
    border: medium none;
    color: #fff;
    font-size: 18px;
    margin: 0;
    padding: 0 2px;
}
.tv-widget-slider-arrows button.slick-disabled {
    opacity: 0.5;
    cursor: default;
}
.tv-blog-slider-content {
    bottom: 0;
    position: absolute;
    width: 100%;
}
.tv-blog-slider-content .post-extra-details {
    margin: 0 auto;
    max-width: 900px;
    padding: 0 30px 40px;
    position: relative;
    z-index: 2;
    color: #fff;
}
.tv-blog-slider-content .post-extra-details .post-meta > *:not(:last-child) {
    margin-right: 15px;
}
.tv-blog-slider-content .post-extra-details .post-meta {
    justify-content: flex-start;
}
.tv-blog-slider-content .post-extra-details .post-content p {
    color: #c7c7c7;
}
.tv-widget-slider-arrows.tv-dark-arrow button {
    color: #2d3438;
    font-size: 20px;
    padding: 0 1px;
}
/* the slides */
.slick-slide {
    margin: 0 15px;
}
/* the parent */
.slick-list {
    margin: 0 -15px;
}
.tv-featured-blog-slider-style-one .swiper-wrapper {
    width: 100%;
    height: 100%;
}
.tv-featured-blog-slider-style-one .swiper-slide-item:after {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(50, 50, 50, 0) 0px, rgba(16, 15, 15, 0.91) 89%, rgba(16, 15, 15, 0.93) 93%) repeat scroll 0 0;
    opacity: 0.9;
    top: 18%;
    transition: all 0.2s ease-in-out 0s;
    bottom: 0;
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    z-index: 1;
}
.tv-featured-blog-slider-style-one .swiper-slide-item{
    background-position: 50% 50%;
    background-size: cover;
    height: 540px;
    position: relative;
    border-radius: 16px;
    overflow: hidden;
}
.tv-featured-blog-slider-style-one .swiper-slide:nth-child(2n) .post-title h2 {
    font-size: 14px;
    line-height: 20px;
}

/*right sidebar*/
.tv-widget {
    padding-bottom: 50px;
}
.tv-widget:last-child {
    padding-bottom: 0;
}
.tv-sidebar-container .tv-heading-section {
    margin-bottom: 25px;
}
.tv-about-me-profile img {
    border-radius: 50%;
}
.tv-author-name {
    padding-top: 20px;
}
.tv-author-profession {
    color: #131d2e;
    display: inline-block;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
    padding-bottom: 10px;
    text-transform: uppercase;
}
.tv-author-name > h3 {
    font-weight: 600;
    margin-bottom: 5px;
}
.tv-author-social {
    padding-top: 20px;
}
.tv-widget-social-links-list li a {
    border: 1px solid #e0e0e0;
    /*color: #111;*/
    display: block;
    margin-bottom: 7px;
    padding: 8px 5px 8px 15px;
    transition: all 0.7s ease 0s;
}
.tv-widget-social-links-list li a span.social-icon {
    border-left: 1px dotted #e0e0e0;
    float: right;
    text-align: center;
    width: 40px;
}
.tv-widget-social-links-list li:hover a {
    color: #fff;
    transition: all 0.7s ease 0s;
}
.tv-widget-social-links-list li.facebook-link:hover a {
    background-color: #4267b2;
}
.tv-widget-social-links-list li.twitter-link:hover a {
    background-color: #1da1f2;
}
.tv-widget-social-links-list li.googleplus-link:hover a {
    background-color: #dc4c40;
}
.tv-widget-social-links-list li.linkedin-link:hover a {
    background-color: #0274b3;
}
.tv-widget-social-links-list li.youtube-link:hover a {
    background-color: #ff0000;
}
.tv-widget-social-links-list li:last-child a {
    margin-bottom: 0;
}

.tv-widget-category-list li a {
    border-bottom: 1px solid #c7c7c7;
    display: block;
    padding: 10px 0;
    position: relative;
}
.tv-widget-category-list li a span.count {
    background: #131d2e none repeat scroll 0 0;
    border-radius: 4px;
    color: #fff;
    cursor: default;
    float: right;
    font-size: 11px;
    font-weight: 600;
    padding: 0 8px;
}
.tv-widget-subscribe-form {
    position: relative;
}
.tv-widget-subscribe-form input, .tv-widget-subscribe-form button {
    border-radius: 100px;
    border-width: 0;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.15);
    line-height: 54px;
}
.tv-widget-subscribe-form input[type="email"] {
    padding-right: 110px;
    padding-left: 30px;
    width: 100%;
}
.tv-widget-subscribe-form input[type="submit"] {
    bottom: 0;
    color: #fff;
    display: block;
    font-size: 11px;
    font-weight: bold;
    line-height: 44px;
    margin: 5px;
    position: absolute;
    right: 0;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out 0s;
    padding: 0 25px;
    background-color: #131d2e;
    cursor: pointer;
}
.tv-widget-subscribe-form input[type="submit"]:hover {
    background-color: #2d3438; 
}
.tv-widget-subscribe-form-fields {
    margin-bottom: 15px;
}
.tv-widget-subscribe-description {
    font-size: 13px;
    font-style: italic;
    line-height: 1.5;
    color: #808080;
    letter-spacing: 0.02rem;
}

/*image grid*/

/*#tv-grid ul li a:after {
    content: '';
    color: #fff;
    font-size: 40px;
    position: absolute;
    display: flex;
    flex-direction:column;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    font-family: "FontAwesome";
    cursor: pointer;
    z-index: -1;
}*/


/*slider*/
.tv-featured-content-title {
    margin-bottom: 20px;
    margin-top: 10px;
}
.tv-featured-content-wrapper {
    left: 0;
    margin: 0 auto;
    max-width: 550px;
    padding: 0 30px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}
.tv-featured-content-wrapper .post-categories > a::after {
    border: 1px solid;
    content: "";
    height: 141%;
    left: -9%;
    position: absolute;
    top: -15%;
    width: 118%;
}
.tv-featured-content-wrapper .post-categories > a + a {
    margin-left: 15px;
}
.tv-featured-content-wrapper .post-categories a {
    background: #131d2e none repeat scroll 0 0;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    padding: 1px 5px;
    position: relative;
    text-transform: uppercase;
    display: inline-block;
}
.tv-featured-content-title h2 {
    font-size: 2.25rem;
    font-weight: 700;
}
.tv-featured-posted-date {
    color: #f6f6f6;
}
.tv-overlay-light-dark {
    background-color: rgba(17, 17, 17, 0.5);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition-duration: 0.7s;
}
.tv-featured-blog-slider .swiper-pagination-bullet {
    background-color: #fff;
    height: 10px;
    opacity: 1;
    width: 10px;
}
.tv-featured-blog-slider .swiper-pagination-bullet-active {
    background-color: #131d2e;
}

/*single blog*/
.tv-page-title h1 {
    font-size: 22px;
    font-weight: 700;
}
.tv-breadcrumb-box .breadcrumb {
    background: rgba(0, 0, 0, 0);
    margin-bottom: 0;
    padding: 0;
}  
.tv-breadcrumb-box .breadcrumb .breadcrumb-item > a {
    color: #2d3438;
    font-size: 13px;
    font-weight: 600;
}
.tv-breadcrumb-box .breadcrumb .breadcrumb-item.active {
    color: #fff;
    font-size: 13px;
}
.tv-breadcrumb-box .breadcrumb-item + .breadcrumb-item::before {
    color: #fff;
    content: "/";
}
.tv-post-content-holder, .tv-single-blog-item .tv-tag-list {
    margin-top: 35px;
}
.tv-post-content-holder .post-extra-details {
    margin-bottom: 20px;
}
.single-post-meta span {
    display: inline-block;
}
.single-post-meta > *:not(:last-child)::after {
    background-color: #d6d6d6;
    bottom: 5px;
    content: "";
    display: block;
    position: absolute;
    right: -1px;
    top: 5px;
    width: 1px;
}
.single-post-meta > *:not(:last-child) {
    display: inline-block;
    margin-right: 10px;
    padding-right: 10px;
    position: relative;
}
.single-post-meta .post-author {
    padding-right: 5px;
    margin-right: 15px;
}
.single-post-meta .post-author::after {
    right: -9px;
}
.single-post-meta span i {
    margin-right: 5px;
    color: #131d2e;
}
.tv-post-content-holder > p:not(:last-child) {
    margin-bottom: 35px;
}

.blockquote-style-one {
    border-width: 0;
    font-style: italic;
    font-weight: bold;
    padding: 30px;
    position: relative;
    text-align: center;
    z-index: 1;
    margin: 0 0 20px;
    font-family: "Montserrat";
}
.blockquote-style-one p {
    font-size: 30px;
    line-height: 120%;
}
.tv-tag-list.tv-dark-color a {
    color: #2d3438;
    border-color: #2d3438;
}
.tv-tag-list.tv-dark-color a:hover {
    color: #131d2e;
    border-color: #131d2e; 
}
.tv-single-blog-item .tv-tag-list {
    position: relative;
    z-index: 1;
}
.post-share-list {
    border-bottom: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;
    padding: 20px 0;
    text-align: center;
    margin-top: 35px;
}
.post-share-list a {
    font-size: 16px;
    padding: 0 10px;
}
.post-share-list .facebook {
    color: #3b5998;
}
.post-share-list .twitter {
    color: #00aced;
}
.post-share-list .pinterest {
    color: #cb2027;
}
.post-share-list .google-plus {
    color: #dd4b39;
}
.post-share-list .linkedin {
    color: #007bb6;
}
.tv-comment-area-wrapper {
    margin-top: 50px;
}
.tv-comment-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 35px;
    text-transform: capitalize;
}
.tv-comments .tv-review-box {
    margin-bottom: 20px;
    margin-right: 0;
    min-height: 100px;
    padding-left: 100px;
    position: relative;
}
.tv-review-thumb {
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    height: 82px;
    left: 0;
    position: absolute;
    top: 0;
    width: 82px;
    margin: 0;
}
.tv-review-content {
    border: 1px solid #e0e0e0;
    padding: 15px;
    position: relative;
}
.tv-review-content > *:not(:last-child) {
    padding-bottom: 10px;
}
.tv-review-reply a {
    color: #131d2e;
    font-size: 14px;
}
.tv-review-reply a:hover {
    color: #2d3438;
}
.tv-sub-comment-first {
    margin-left: 20px;
}
.tv-sub-comment-second {
    margin-left: 50px;
}
.tv-comments {
    margin-bottom: 35px;
}
.tv-comment-form-box form .form-control {
    border-radius: 0;
    font-size: 14px;
    height: 40px;
    background: #f7f7f7;
    border-color: rgba(0,0,0,0);
    padding: 10px 15px;
}
.tv-comment-form-box form textarea.form-control {
    height: 140px;
}
.tv-comment-form-box form p + p {
    margin-top: 20px;
}
.tv-comment-form-box .form-submit input[type="submit"]{
    background-color: #131d2e;
    border: 0 none;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    line-height: 44px;
    padding: 0 30px;
    cursor: pointer;
}
.tv-comment-form-box .form-submit input[type="submit"]:hover {
    background-color: #2d3438;
}

/*tag*/
.tv-post-tag .post-item, .tv-post-category .post-item {
    margin-bottom: 35px;
}
/*masonry blog*/
.tv-blog-style-masonry {
    margin-left: -15px;
    margin-right: -15px;
}
.tv-blog-masonry-item-three-col {
    float: left;
    width: 33.3%;
    padding-left: 15px;
    padding-right: 15px;
}
.tv-blog-masonry-item {
    margin-bottom: 4%;
}
/*Grid style*/
.tv-blog-style-grid, .tv-blog-style-large-inner {
    margin-top: -30px;
}
.tv-blog-style-grid .tv-blog-grid-item, .tv-blog-style-large .tv-blog-grid-item {
    margin-top: 30px;  
}
.tv-blog-grid-item .post-extra-details {
    margin-top: 15px;
}
img {
    max-width: 100%;
}
.tv-blog-masonry-item-three-col .post-title h2, .tv-blog-grid-item .post-title h2 {
    line-height: 1.85rem;
    font-size: 1.45rem;
}

/*Typography*/
.tv-typography-page-content h1, .tv-typography-page-content h2, .tv-typography-page-content h3, .tv-typography-page-content h4, .tv-typography-page-content h5, .tv-typography-page-content h6 {
    margin-bottom: 20px;  
}
.tv-typography-page-content > p:not(:last-child) {
    margin-bottom: 25px;
}
.tv-typography-page-content > ul {
    list-style: inside none disc;
    padding-left: 25px;
}
.tv-high-style-one {
    background: #131d2e;
    color: #fff;
}
.tv-high-style-two {
    color: #131d2e;
}
.tv-drop-caps-style {
    padding-left: 65px;
    position: relative;
}
.tv-drop-caps-style span {
    display: inline-block;
    font-weight: bold;
    height: 56px;
    left: 0;
    line-height: 56px;
    margin-top: 6px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 0;
    width: 55px;
    font-size: 24px;
}
.tv-drop-caps-style-one  span, .tv-drop-caps-style-three  span{
    background-color: #131d2e;
    color: #fff;  
}
.tv-drop-caps-style-two span {
    border: 2px solid #e7e7e7;
}
.tv-drop-caps-style-three  span{
    border-radius: 50%;  
}

/*404*/
.tv-404-page-box {
    margin: 5% 5% 5% 0;
}
.tv-404-page-box > h2 {
    background: #2d3438;
    color: #fff;
    font-size: 200px;
    font-weight: 800;
    letter-spacing: -15px;
    line-height: 1;
    padding: 60px;
    text-align: center;
}
/*.tv-404-page-box span::after {
    background: #fff none repeat scroll 0 0;
    border-radius: 50%;
    content: "";
    height: 30px;
    left: 65px;
    position: absolute;
    top: 40%;
    width: 20px;
}
.tv-404-page-box span::before {
    background: #fff none repeat scroll 0 0;
    border-radius: 50%;
    content: "";
    height: 30px;
    right: 50px;
    position: absolute;
    top: 40%;
    width: 20px;
}*/
.tv-404-page-box span {
    color: #131d2e;
    font-size: 300px;
    /*    position: relative;
        font-weight: 500*/
}



/*header top search*/
.tv-search-overlay {
    height: 0;
    top: 0;
    width: 0;
    opacity: 0;
    backface-visibility: hidden;
    background-color: rgba(0, 0, 0, 0.7);
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0s;
    z-index: 5999;
    align-items: center;
}
.tv-search-overlay .closebtn {
    font-size: 40px;
    position: absolute;
    right: 35px;
    top: 15px;
}
.tv-search-overlay a {
    color: #818181;
    display: block;
    padding: 8px;
    text-decoration: none;
}
.search-overlay-content input {
    background-color: #fff;
    border-radius: 55px;
    border-width: 0;
    box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, 0.2);
    color: #9e9e9e;
    display: table;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 100px;
    margin: 10px 0;
    padding: 0 100px 0 55px;
    width: 100%;
    z-index: 6000;
}
.tv-search-wrapper {
    position: relative;
}
.tv-search-button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    box-shadow: none;
    font-size: 24px;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 55px;
    top: calc(100% - 60px);
}
/*insta overlay*/
.tv-insta-overlay {
    background: rgba(17, 17, 17, 0.5) none repeat scroll 0 0;
    bottom: 0;
    color: #fff;
    font-size: 42px;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    transition: all 0.7s ease 0s;
    visibility: hidden;
}
.tv-insta-overlay i.fa {
    line-height: 1px;
    position: absolute;
    top: 50%;
    transform: translate(-50%);
}
.tv-set-insta-icon li:hover .tv-insta-overlay{
    opacity: 1;
    visibility: visible;
}

/*footer*/
.tv-footer {
    background-size: cover;
    background-position: 50% 50%;
}
.tv-footer-top-widget {
    padding: 100px 0;
    border-bottom: 1px solid rgba(221, 221, 221, 0.12);
    background-color: rgba(30, 30, 30, 0.5);
}
.tv-footer-widget {
    padding-bottom: 50px;
}
.tv-footer-widget:last-child {
    padding-bottom: 0;
}
.tv-footer-widget-title .tv-heading-title {
    padding-right: 15px; 
}
.tv-footer-widget-title h3 {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 0;
}
.tv-footer-widget-title .tv-seperator-line {
    border-top: 1px solid #131d2e;
}
.tv-footer-widget-title {
    margin-bottom: 25px;
}
.tv-footer-about-widget p {
    color: #c7c7c7;
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 15px;
}
.tv-footer-about-widget p:last-child {
    margin-bottom: 0;
}
.tv-footer-about-widget p > strong {
    color: #fff;
    font-size: 16px;
    font-style: italic;
    letter-spacing: 0.02rem;
}
.tv-tag-link {
    transition: all 0.25s ease 0s;
    display: inline-block;
    font-weight: bold;
    line-height: 16px;
    margin-bottom: 10px;
    margin-right: 8px;
    padding: 2px 13px;
    position: relative;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 11px;
}
.tv-tag-link:hover {
    border-color: #131d2e;
}
.tv-footer-copyrights {
    padding: 40px 0;
    background-color:#131d2e;
}
.tv-footer-copyrights .copyright {
    color: #c7c7c7;
}
.tv-footer-copyrights .copyright p > a {
    color: #fff;
}
.tv-footer-copyrights .copyright p > a:hover {
    color: #ffffff;
}

/*color*/
.tv-white-text {
    color: #fff !important;
}
/*background*/
.tv-bg-theme-col {
    background: #131d2e;
}
/*padding*/
.tv-padd-tb-50 {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
}
.tv-padd-tb-40 {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
}
/*offspace*/
.tv-offspace-top-40 {
    margin-top: 40px !important;
}
.tv-offspace-bottom-40 {
    margin-bottom: 40px !important;
}
/*back to top*/
.back-to-top {
    backface-visibility: hidden;
    background-color: #131d2e;
    border: 1px solid rgba(0, 0, 0, 0.01);
    bottom: 50px;
    box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.07);
    cursor: pointer;
    height: 50px;
    opacity: 0;
    overflow: hidden;
    position: fixed;
    right: 30px;
    text-align: center;
    transition: all 0.3s ease 0s;
    width: 50px;
    z-index: 5000;
    border-radius: 4px;
}
.back-to-top:hover {
    background-color: #2d3438;
    border: 1px solid #2d3438;
}
.back-to-top i {
    color: #fff;
    display: block;
    font-size: 30px;
    line-height: 46px;
}
.back-to-top:hover i {
    color: #fff;
    text-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
}
.back-to-top.active {
    opacity: 1;
}




